<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>
	<br/>
	<p>
    Splurty was built by <a target="_blank" href="http://github.com/KenMazaika">Andrew</a>. A new web developer who is on a mission to learn the technical skills needed to launch his own MVPs and turn ideas into reality.
  </p>
	<br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

	<br />
	<br />

	<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Me_1.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Andrew Waligore</h2>
      <p>
				Andrew is a born and raised Austinite, currently working in outdoor retail for a small Texas owned and operated gear and apparel company. He chose to pursue the University of Texas Austin Coding bootcamp as a path to a more exciting and rewarding career, and to try something new in life. In his free time he enjoys rock climbing, fly fishing, biking, and motorcycling.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
