@font-face {
    font-family: 'Exo2-Regular';
    src: font_url('exo-2/Exo2-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Exo2-Medium';
    src: font_url('exo-2/Exo2-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Exo2-SemiBold';
    src: font_url('exo-2/Exo2-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }